{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Weather Forecast for {{ city.name }}</h1>
    {% if weather.current_weather %}
        <h3>Current Weather</h3>
        <ul>
            <li>Temperature: {{ weather.current_weather.temperature }} °C</li>
            <li>Windspeed: {{ weather.current_weather.windspeed }} km/h</li>
            <li>Weather Code: {{ weather.current_weather.weathercode }}</li>
        </ul>
    {% else %}
        <p>Weather data is not available for this city.</p>
    {% endif %}
    <a href="/">&#8592; Back to main page</a>
</div>
{% endblock %}
