{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center mb-4">
	<div class="col-lg-8">
		{% if user_location and not user_location.error %}
		<div class="card shadow-sm mb-4">
			<div class="card-header bg-success text-white">
				<h1 class=" h5 mb-0">Current weather in {{ user_location.city }}, {{ user_location.country }}*</h5>
			</div>
			<div class="card-body">
				{% if user_location.weather and user_location.weather.current %}
                <div class="row mb-4">
                    <div class="col-5 justify-content-between">
                        <h1 class="display-1">{{ user_location.weather.current.temperature_2m }} °C</h1>
                    </div>
                    <div class="col-7">                    
                        <ul class="list-group list-group-flush mb-2">
                            <li class="list-group-item">Wind: <strong> {{ user_location.weather.current.cardinal }} {{ user_location.weather.current.wind_speed_10m }} km/h</strong></li>
                            <li class="list-group-item">Pressure: <strong>{{ user_location.weather.current.pressure_msl }} hPa</strong></li>
                            <li class="list-group-item">Humidity: <strong>{{ user_location.weather.current.relative_humidity_2m }}%</strong></li>
                        </ul>
                    </div>
                </div>
				{% else %}
				<div class="alert alert-warning mb-0">Weather data is not available for your location.</div>
				{% endif %}


                {% if user_hourly_forecast %}
                <div class="swiper hourly-forecast-swiper mb-4">
                    <div class="swiper-wrapper">
                        {% for hour in user_hourly_forecast %}
                            <div data-original-time="{{ hour.original_time }}" class="swiper-slide">
                                {% if loop.index0 == 0 %}
                                    now<br>
                                {% else %}
                                    {{ hour.time }}<br>
                                {% endif %}

                                <strong class="text-danger">{{ hour.temperature|round|int }} °C</strong><br>
                                <img data-weather-code="{{ hour.weather_code }}" src="/static/icons/static/{{ hour.icon|safe }}">
                                <i title="{{ hour.cardinal|lower }}" class="fs-2 wi wi-wind from-{{ hour.winddirection }}-deg"></i><br>
                                <i title="{{ hour.beaufort }} on Beaufort Scale, {{ hour.windspeed }} km/h" class="fs-2 wi wi-wind-beaufort-{{ hour.beaufort }}"></i>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var swiper = new Swiper(".hourly-forecast-swiper", {
                            slidesPerView: 4,
                            spaceBetween: 0,
                            grabCursor: true,
                            breakpoints: {
                                640: {
                                    slidesPerView: 4,
                                    spaceBetween: 0,
                                },
                                768: {
                                    slidesPerView: 6,
                                    spaceBetween: 0,
                                },
                                1024: {
                                    slidesPerView: 8,
                                    spaceBetween: 0,
                                },
                            },
                        });
                    });                    
                </script>
				{% endif %}
                <small class="text-muted">* Location is based on your IP address and may not be accurate</small>
			</div>
		</div>
		{% elif user_location and user_location.error %}
		<div class="alert alert-danger mb-4">{{ user_location.error }}</div>
		{% endif %}
        
		<div class="card shadow-sm mb-4">
			<div class="card-header bg-primary text-white">
                <h2 class="h5 mb-0">The weather in other places</h5>
			</div>
			<div class="card-body">
				<div class="row">
                    {% for c in cities %}
                        <div class="col-6 col-md-4 col-xl-3 mb-4">
                            <a href="/{{ c.city.slug }}" class="card city-card border-0" 
                                {% if (c.current.description == "sunny") %}
                                    style="background-color: #fff4d4;"
                                {% elif (c.current.description == "cloudy") %}
                                    style="background-color: #f1f1f1;"
                                {% elif (c.current.description == "clear") %}
                                    style="background-color: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,0.1);"
                                {% elif (c.current.description == "rainy") %}
                                    style="background-color: #e6eaff;"
                                {% endif %}
                                >
                                <div class="card-body pb-0">
                                    <img class="weather-icon" width="50%" height="auto" data-weather-code="{{ c.current.weathercode }}" src="/static/icons/static/{{ c.current.icon }}">
                                    <div class="d-flex justify-content-between">
                                    <p class="mb-0 h5 fw-bold">{{ c.current.temperature_2m }}°</p>
                                    <p class="mb-0 hour">
                                        <i class="wi wi-time-4"></i>
                                        <span>{{ c.current.time }}</span>
                                    </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body pt-0">
                                    <h6 class="fw-bold mb-1">{{ c.location_name }}</h6>
                                    <p class="mb-0">{{ c.current.description|title }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
			</div>
		</div>
	</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // on hover .city-card change img.weather-icon src from /static/icons/static/ to /static/icons/animated/
        const cityCards = document.querySelectorAll('.city-card');
        cityCards.forEach(card => {
            card.addEventListener('mouseenter', function() {
                const icon = card.querySelector('.weather-icon');
                icon.src = icon.src.replace('/static/icons/static/', '/static/icons/animated/');
            });
            card.addEventListener('mouseleave', function() {
                const icon = card.querySelector('.weather-icon');
                icon.src = icon.src.replace('/static/icons/animated/', '/static/icons/static/');
            });
        });
    });
</script>
{% endblock %}